@import '@styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.input {
  display: flex;
  height: 47px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  padding: 0px 15px;

  color: #2b2b2b;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Avenir Next';
}
.label {
  display: flex;
  align-items: center;
  color: $text-default-color;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
