@import '@styles/variables';

.commonStyle {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  padding: 0px 15px;
  border-radius: 6px;
  border: 1px solid #222;
  cursor: pointer;

  color: $text-default-color;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
