.wrapper {
  display: flex;
  width: 100%;
  height: auto;
  gap: 5%;
}
.imageUploadSection {
  display: flex;
  width: 13.5%;
}
.formSection {
  display: flex;
  width: 81.5%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mainContainer {
  display: flex;
  width: 100%;
  gap: 5%;
}
.leftSection {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 25px;
}
.rightSection {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bottomContainer {
  margin-top: 25px;
}

.text1 {
  display: flex;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.text2 {
  display: flex;
  align-items: center;
  color: #717171;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.text3 {
  display: flex;
  color: #222;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  min-height: 80px;
}
.profileSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editBtn {
  width: 60px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ebebeb;
  color: #717171;
}
