.wrapper {
  display: flex;
  width: 100%;
  height: auto;
  gap: 5%;
}
.imageUploadSection {
  display: flex;
  width: 13.5%; // 174px in 1512px screen size wrt Figma
}
.formSection {
  display: flex;
  width: 81.5%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mainContainer {
  display: flex;
  width: 100%;
  gap: 5%;
}
.leftSection {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 25px;
}
.rightSection {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bottomContainer {
  margin-top: 25px;
}
// // we can improve the css implementation based on how resposive we need it
// // as of now just completed the basic UI
// .mainContainer {
//   display: flex;
//   width: 100%;
//   height: auto;
//   gap: 0px 5%; // 65px in 1512px screen size wrt Figma
// }
// .leftSection {
//   display: flex;
//   width: 13.5%; // 174px in 1512px screen size wrt Figma
// }
// .middleSection {
//   display: flex;
//   flex-direction: column;
//   width: 34.25%; // 440px in 1512px screen size wrt Figma
//   gap: 25px;
// }
// .rightSection {
//   display: flex;
//   width: 42.25%; // 540px in 1512px screen size wrt Figma
// }
// .bottomContainer {
//   display: flex;
//   width: 100%;
//   padding-left: 18.5%;
//   margin-top: 25px;
// }
