.commonStyle {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  padding: 0px 15px;
  border-radius: 6px;
  background: #008392;
  border: none;
  cursor: pointer;

  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
